* {
    box-sizing: border-box;
    font-family: "Readex Pro", sans-serif;
    margin: 0;
    padding: 0;
  }
  body {
    text-align: center;
  }
  form {
    background-color: aquamarine;
    margin: auto;
    padding: 30px;
    width: 20%;
    display: flex;
    flex-direction: column;
  }
  form > *:not(:first-child) {
    margin-top: 20px;
  }
  form > *:not(#remember-me, p, span) {
    padding: 10px;
  }
  form > p {
    font-size: 36px;
  }
  #change {
    margin-top: 30px;
    padding: 10px;
  }
  